<div id="who" class="contenido">
    <h1>¿Quienes Somos?</h1>
    <h2>{{sub}}</h2>
    <p>{{quien}}</p>
</div>
<div id= "valores" class="contenido">
    <h1>¿En qué Creemos?</h1>
    <ol>
        <li *ngFor="let valor of valores">{{valor}}</li>
    </ol>
</div>
<div class="contenido">
<h1>Nuestas Muchosidades</h1>
<div class="flex" *ngFor="let worker of team">
    <img [src]="worker.img" alt="">
    <h3>{{worker.nombre}}</h3>
    <p>{{worker.bio}}</p>
</div>
</div>
<div class="contenido">
<h1>Partners</h1>
<div class="flex partner" *ngFor="let partner of partners">
    <img [src]="partner.img" alt="">
    <h3>{{partner.nombre}}</h3>
</div>
</div>
