.contenido{
    background-color: white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(86,58,143,0) 80%);
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin: 15% auto;
    font-size: large;
}
.contenido img {
    width: 100%;
}
.contenido h1{
    color: white;
    min-width: 90%;
    font-family: alice;
    font-size: 6vw;
}
.contenido p, .contenido h2{
    margin: 5%;
}
.contenido ul li{
    padding: 1%;
}
.flex{
    max-width: 27%;
    margin: 2%;
    padding: 1%;
    text-align: center;
}
.partner{
    max-width: 19%;
}