/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(180deg, rgba(240,124,188,1) 21%, rgba(100,58,143,1) 91%);
    background-image: url("/assets/img/niBqkXkdT.jpg");
    background-attachment: fixed;
} 
@font-face{
    font-family: alice;
    src: url('/assets/fonts/Alice_in_Wonderland_3.ttf')
}